{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row valign-wrapper">
    <div class="card-panel  teal lighten-2 z-depth-4 col s12 valign-wrapper">
      <div class="col s6 m10">
        <span><h4>{{ customer.address_line_1 }}, {{ customer.title }} {{ customer.first_name }} {{ customer.last_name }}</h4> </span>
      </div>
      <div class="col s2 m1">
        <a href="{% url 'job_add' customer.pk %}" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="col s2 m1">
        <a href="{% url 'customer_map' customer.pk %}" class="btn-floating btn-small waves-effect waves-light orange darken-2 modal-trigger"><i class="material-icons">location_on</i></a>
      </div>
      {% comment %} TODO: Hide if existing due job exists {% endcomment %}
    </div>
  </div>
  {% if customer.jobs.all %}
  <table class="striped bordered">
    <thead> 
      <tr>
        <th>Due Date</th>
        <th>Completed Date</th>
        <th>Price</th>
        <th>Job Status</th>
        <th>Payment Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for job in customer.jobs.all %} {% comment %} no need for _set since related_name has been set {% endcomment %}
      <tr>
        <td>{{ job.scheduled_date|date:"d/m/y" }}</td>
        <td>{{ job.completed_date|date:"d/m/y" }}</td>
        <td>£{{ job.price }}</td>
        <td>{{ job.job_status }}</td>
        <td>{{ job.payment_status }}</td>
        <td><a href="{% url 'job_update' job.id %}" class="btn-floating btn-small waves-effect waves-light teal lighten-2">
                            <i class="material-icons">create</i>
                        </a> {% comment %} TODO: link to worksheets app editing page for jobs {% endcomment %}
        </td>
      </tr>
      {% endfor %} {% else %}
      <div class="row">
        <div class="col s12">
          <div class="card-panel teal z-depth-4">
            <span class="white-text">There are no jobs set for this customer</span>
          </div>
        </div>
      </div>
      {% endif %}
    </tbody>
  </table>
  {% comment %} TODO: set pagination for detailview https://stackoverflow.com/questions/25569551/pagination-from-a-django-detailview {% endcomment %}
  {# .... **pagination section** ....https://docs.djangoproject.com/en/1.11/topics/pagination/ #}
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="/customer_job_list?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="/customer_job_list?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
</div>
{% endblock %}

