{% extends "base.html" %} 

{% block extra_head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <title>Customer Location</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */

        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */

        html,
        body {
            height: 100%;
            margin: 10;
            padding: 10;
        }
    </style>

{% endblock %} 

{% block content %}
    <div    
        id="coord" 
        data-lat='{{ customer.latitude }}' 
        data-lng='{{ customer.longitude }}' 
        data-address='{{ customer }}'>
    </div>
    <div
        id="map" 
        style="width: 100%; height: 90%;">
    </div>
{% endblock %} 

{% block extra_js %}
<script>
    function initMap() {
        var coord = document.getElementById('coord');
        var latitude = Number(coord.getAttribute('data-lat'));
        var longitude = Number(coord.getAttribute('data-lng'));
        var address = coord.getAttribute('data-address');
                
        var myLatLng = { lat: latitude, lng: longitude };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: address
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4LQTdn114Lqs-kaY5JBFGab7slbEMFgc&callback=initMap">
</script>

{% endblock %}