{% extends "base.html" %} 
{% block content %}
<div class="container">
<div class="row valign-wrapper">
        <div class="col s10">
            <h4 class="teal-text text-darken-3">Customers</h4>
        </div>
        <div class="col s2">
            <a href="/customers/new/" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
    </div>
<table class="bordered striped">
    {% comment %} <thead>
        <tr>
            <th>Address</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead> {% endcomment %}
    <tbody>
        {% for customer in object_list %}
        <tr>            
            <td><b>{{ customer.address_line_1 }} </b></td>
            <td>{{ customer.title }} {{ customer.first_name }} {{ customer.last_name }}</td>
            
            <td><a href={% url 'customer_job_list' customer.id %} class="btn-floating btn-small waves-effect waves-light teal lighten-2">
                    <i class="material-icons">view_list</i>
                </a>
            <td><a href={{ customer.id }} class="btn-floating btn-small waves-effect waves-light teal lighten-2">
                    <i class="material-icons">create</i>
                </a>
            </td>
            
            
        </tr>
        {% endfor %}

    </tbody>
</table>
</div>
{% endblock %}