{% extends "base.html" %} 
{% load user_tags %} 
{% load app_tags %}
{% load customer_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card {% css_colour user %} darken-4" style="padding: 10px">
            <h4 class="white-text valign-wrapper">My expenses</h4>
            <a href="/expenses/new/" class="btn-floating btn-small halfway-fab waves-effect waves-light red right tooltipped"
            data-position="top" data-delay="400" data-tooltip="Add a new expense item"><i class="material-icons">add</i></a>
        </div>
        
    </div>

    <table class="striped bordered">
        <thead>
            <tr>
                <th>Category</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Notes</th>  
                <th></th>              
            </tr>
            <tbody>
                {% for expense in expenses|dictsort:"date" %}
                <tr>            
                    <td>{{ expense.category }}</div></td>
                    <td>{{ expense.date }}</div></td>
                    <td>{{ expense.amount|currency }}</div></td>
                    <td  style="max-width:100px"><div class="truncate">{{ expense.notes }}</div></td>
                    <td><a href={{ expense.id }} 
                            class="btn-floating btn-small waves-effect waves-light {% load job_filters %} {% css_colour user %} tooltipped"
                            data-position="top" data-delay="400" data-tooltip="Edit this item">
                            <i class="material-icons">create</i>
                        </a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
</div>
{% endblock %}