<div class='col-sm-6 col-sm-offset-3'>
        <!-- {% if request.user == object.user %} -->
            <p>Are you sure you want to delete this record?</p>
            {{ object.amount }}
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yep, I'm sure.</button>
            </form>
        <!-- {% else %} -->
            <h4>You're not allowed to be here.</h4>
            <a href="{% url '/expenses/' %}">Expenses</a>
        <!-- {% endif %} -->
    </div>