{% extends "base.html" %} 
{% block content %} 
{% load job_filters %}
{% regroup invoices by scheduled_date as jobs_by_date %}
{% load staticfiles %}
{% comment %} <ul>
    {% for date in jobs_by_date %} date-{{ date.grouper }}
    <ul>
        {% for job in date.list|dictsort:"scheduled_date" %}
        <li>
            <div>{{ job.customer }} {{ job.scheduled_date }}</div>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul> {% endcomment %}

<div class="container">
<ul class="collapsible" data-collapsible="accordion">
    {% for date in jobs_by_date %}
    <li>        
        <div class="collapsible-header active teal 
            {% if forloop.counter == 1 %}darken-4{% else %}darken-2{% endif %} white-text">
           <h6>{{ date.grouper }}</h6>
            <!-- <a href="#!" class="btn-floating btn-small waves-effect waves-light orange darken-2 right"><i class="material-icons">location_on</i></a>                 -->
            <!-- TODO: center icon and capture click?? -->
            <span class="new badge blue" data-badge-caption="">{{date.list|length }} 
                {% if date.list|length == 1 %}job{% else %}jobs{% endif %} / £{{ date.list|running_total }}</span>            
        </div>
        <div class="collapsible-body">
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Price</th>
                            <th>Notes</th>
                            <th></th>
                        </tr>
                    </thead>
            
                    <tbody>
                    {% for job in date.list|dictsortreversed:"customer" %} 
                    <tr>
                        <td>{{ job.customer }}</td>
                        <td>£{{ job.price }}</td>
                        <td style="max-width: 200px" class="truncate">{{ job.job_notes }}</td>
                        <td><button id="{{ job.id }}" 
                            class="job_details_btn btn-floating waves-effect waves-light"
                                 type="button" value="Click" 
                                 data_url='{% url "job_check_in" job.id %}'
                                 >
                                 <i class="material-icons">more_horiz</i></button></td>
                        </td>
                    </tr>
                        {% endfor %} 
                    <tr>
                        <td></td>
                        <td>Total: £{{ date.list|running_total }}</td>
                        <td><a class="waves-effect waves-light btn"><i class="material-icons right">payment</i>Make Payment</a></td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </li>
    {% endfor %}
</ul>
</div>

<!-- Modal to confirm checkin -->
<div id="job_details_modal" class="modal">
    <div class="modal-content">         
        <div id="modal_message">
            JQuery replaces content here from AJAX call
        </div>
    </div>
    <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn">OK</a>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<!-- SCRIPTS -->
<script src="{% static 'job_details.js' %}"></script>    
{% endblock %}
