{% extends "base.html" %} 
{% load job_filters %}
{% load humanize %}
{% block content %} 
{% regroup invoices by scheduled_date as jobs_by_date %}
{% load staticfiles %}
<div class="container">
<ul class="collapsible" data-collapsible="accordion">
    {% for date in jobs_by_date %}
    <li>        
        <div class="collapsible-header active teal 
            {% if forloop.counter == 1 %}darken-4{% else %}darken-2{% endif %} white-text">
           <h6>{{ date.grouper|naturalday|title }}</h6>
            <span class="new badge blue" data-badge-caption="">{{date.list|length }} 
                {% if date.list|length == 1 %}job{% else %}jobs{% endif %} / £{{ date.list|running_total }}</span>            
        </div>
        <div class="collapsible-body">
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Price</th>
                            <th>Notes</th>
                            <th></th>
                        </tr>
                    </thead>
            
                    <tbody>
                    {% for job in date.list|dictsortreversed:"customer" %} 
                    <tr>
                        <td>{{ job.customer }}</td>
                        <td>£{{ job.price }}</td>
                        <td style="max-width: 200px" class="truncate">{{ job.job_notes }}</td>
                        <td><button id="{{ job.id }}" 
                            class="job_details_btn btn-floating waves-effect waves-light"
                                 type="button" value="Click" 
                                 data_url='{% url "job_details" job.id %}'
                                 >
                                 <i class="material-icons">more_horiz</i></button></td>
                        </td>
                    </tr>
                    {% endfor %} 
                    <tr>
                        <td></td>
                        <td>Total: £{{ date.list|running_total }}</td>
                        <td><form action="{% url 'payment' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="amount" value="{{ date.list|running_total|mul:100|floatformat }}"></input>
                            <!-- floatformat necessary to return an int -->
                            <!-- The amount has to be calculated in the view, otherwise the DOM can be manipulated to send the wrong amount -->
                            <input  name="date" type="hidden" value="{{ date.grouper|date:"c" }}"></input>
                            <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ view.stripe_public_key }}"
                                data-amount="{{ date.list|running_total|mul:100 }}" //stripe takes pence
                                data-name="Demo Site"
                                data-description="Widget"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto"
                                data-zip-code="false"
                                data-currency="gbp">
                              </script>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </li>
    {% endfor %}
</ul>
</div>

<!-- Modal to display job details -->
<div id="job_details_modal" class="modal">
    <div class="modal-content">         
        <div id="job_details_message">
            JQuery replaces content here from AJAX call
        </div>
    </div>
    
</div>


{% endblock %}
{% block extra_js %}
<script src="{% static 'jobs.js' %}"></script>    
{% endblock %}
