{% extends "base.html" %} 
{% load staticfiles %}

{% block extra_head %}
<script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<script> 
        
        (function ($) {
            jQuery.expr[':'].Contains = function(a,i,m){
                return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
            };
           
            function listFilter(header, list) {
              var input = $("#input_search")
              $(input)
                .change( function () {
                  var filter = $(this).val();
                  if(filter) {
                    $(list).find(".address:not(:Contains(" + filter + "))").parent().hide();
                    $(list).find(".address:Contains(" + filter + ")").parent().show();
                  } else {
                    $(list).find("tr").show();
                  }
                  return false;
                })
              .keyup( function () {
                  $(this).change();
              });
            }
          
            $(function () {
              listFilter($("#header"), $("#invoice_list"));
            });
          }(jQuery));
        
         </script> 
{% endblock %}
{% block content %} 

        <div id="header"></div> 
    

      <div class="row">
        <div class="input-field col s6 m3">
          <i class="material-icons prefix">search</i>
          <input id="input_search" type="search">
        </div>
      </div>
<table class="bordered" id="invoice_list"s>
    <thead>
      <tr>
          <th>Customer</th>
          <th>Price</th>
          <th>Date Completed</th>
      </tr>
    </thead>

    <tbody>
    {% for job in jobs %}
      <tr id="row_{{ job.id }}">
        <td class="address">{{ job.customer }}</td>
        <td>£{{ job.price }}</td>
        <td>{{ job.completed_date }}</td> 
        <td><a  class="paid_btn waves-effect waves-light btn" 
                data_rowID="{{ job.id}}" 
                data_url='{% url "job_paid" job.id %}'
                data_address="{{ job.customer }}" >Paid
            </a>
        </td>           
        <td><a class="job_details_btn btn-floating  waves-effect waves-light teal accent-4 right" 
            data_url='{% url "job_details" job.id %}'>
                <i class="material-icons">more_horiz</i></a>
        </td>     
        
      </tr>
    {% endfor %}
    
    </tbody>
  </table>

  <!-- Job Details Modal -->
<div id="job_details_modal" class="modal">
        <div class="modal-content" id="job_details_message">
        </div>
</div>

<!-- Modal to confirm payment -->

<div id="modal_confirm" class="modal bottom-sheet">
        <div class="modal-content">
        <div class="container">
            <div><h5>Confirm <span id="modal_title"></span> has been paid?</h5></div>
            <div class="row">
                {% comment %} note: GET/POST form defeats the objective of AJAX call as it forces a refresh {% endcomment %}
                    <button id="modal_paid_btn" class="modal-close btn waves-effect waves-light left red" type="submit" name="action"
                    data_url="">
                    Yes</button>
                <a href="#!" class="btn waves-effect waves-light right modal-action modal-close">
                        No</a>
            </div>
        </div>
        </div>
    </div>  

<!-- AJAX error modal -->
    <div id="ajax_err_modal" class="modal">
        <div class="modal-content">
            <div class="container" id="ajax_err_modal_content">

            </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
      </div>
{% endblock %}

 {% block extra_js %}
<!-- SCRIPTS -->
<script src="{% static 'jobs.js' %}"></script>
<script src="{% static 'invoices.js' %}"></script>


{% endblock %}

