{% extends "base.html" %} 
{% load staticfiles %}
{% load user_tags %} 

{% block extra_head %}
<script src="http://code.jquery.com/jquery-1.4.2.min.js"></script> 
<script src="{% static 'owings.js' %}"></script>        
{% endblock %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="card {% css_colour user %} darken-4" style="padding: 10px">
            <h4 class="white-text valign-wrapper">My Owings</h4>
        </div>
    </div>
     <div class="row">
        <div class="search-wrapper card input-field col s12 m6">
          <i class="material-icons prefix">search</i>
          <input id="input_search" type="search" placeholder="Search customer address...">
        </div>
      </div>
<table class="bordered" id="invoice_list"s>
    <thead>
      <tr>
          <th>Customer</th>
          <th>Price</th>
          <th>Date Completed</th>
      </tr>
    </thead>

    <tbody>
    {% for job in job %}
      <tr id="row_{{ job.id }}">
        <td class="address">{{ job.customer }}</td>
        <td>£{{ job.price }}</td>
        <td>{{ job.completed_date }}</td> 
        <td><a  class="paid_btn waves-effect waves-light btn {% css_colour user %}" 
                data_rowID="{{ job.id}}" 
                data_url='{% url "job_paid" job.id %}'
                data_address="{{ job.customer }}" >Paid
            </a>
        </td>           
        <td><a class="job_details_btn btn-floating  waves-effect waves-light {% css_colour user %} accent-4 right" 
            data_url='{% url "job_details" job.id %}'>
                <i class="material-icons ">more_horiz</i></a>
        </td>     
        
      </tr>
    {% endfor %}
    
    </tbody>
</table>

  <!-- Job Details Modal -->
<div id="job_details_modal" class="modal">
        <div class="modal-content" id="job_details_message">
        </div>
</div>

<!-- Modal to confirm payment -->

<div id="modal_confirm" class="modal bottom-sheet">
        <div class="modal-content">
        <div class="container">
            <div><h5>Confirm <span id="modal_title"></span> has been paid?</h5></div>
            <div class="row">
                {% comment %} note: GET/POST form defeats the objective of AJAX call as it forces a refresh {% endcomment %}
                    <button id="modal_paid_btn" class="modal-close btn waves-effect waves-light left red" type="submit" name="action"
                    data_url="">
                    Yes</button>
                <a href="#!" class="btn waves-effect waves-light right modal-action modal-close {% css_colour user %}">
                        No</a>
            </div>
        </div>
        </div>
    </div>  

<!-- AJAX error modal -->
    <div id="ajax_err_modal" class="modal">
        <div class="modal-content">
            <div class="container" id="ajax_err_modal_content">

            </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-{% css_colour user %} {% css_colour user %} btn-flat">OK</a>
        </div>
      </div>
    </div>
{% endblock %}

 {% block extra_js %}
<script src="{% static 'jobs.js' %}"></script>
<script src="{% static 'invoices.js' %}"></script>
{% endblock %}

