{% extends "base.html" %}
{% load staticfiles %} 
{% load humanize %}
{% load app_tags %} 
{% load user_tags %} 
{% load job_filters %}

{% block content %} 

{% regroup jobs by scheduled_date as jobs_by_date %}


<div class="container">
        <div>
            <h4 class="{% css_colour user %}-text text-darken-3">My Worksheets</h4>
        </div>
    <ul class="collapsible" data-collapsible="accordion">
        {% for date in jobs_by_date %}
        <li>
            <div id='header_{{ date.grouper|date:"c" }}' class="collapsible-header {% css_colour user %}  darken-2 white-text">
                {{ date.grouper|naturalday|title }}
                <!-- https://docs.djangoproject.com/en/1.11/ref/templates/builtins/#date -->
                <span class="new badge green" data-badge-caption="" id="badge_{{ date.grouper|date:"c" }}">
                <span id="num_jobs_{{ date.grouper|date:"c" }}">{{date.list|length }}</span>
                <span id='num_jobs_suffix_{{ date.grouper|date:"c" }}'>{% if date.list|length == 1 %} job{% else %} jobs{% endif %}</span> / <span id="total_{{ date.grouper|date:"c" }}">{{ date.list|running_total|currency }}</span>
                </span>
            </div>
            <div class="collapsible-body" id="collapsible_body_{{ date.grouper|date:"c" }}">
                <div class="row">
                    {% for job in date.list|dictsortreversed:"customer" %}
                    <div>
                        <div class="card blue-grey darken-1 z-depth-3" id="card_{{ job.id }}">
                            <div class="card-content white-text">
                                <span class="card-title">{{ job.customer }}</span>
                                <div class="row">
                                    <div style="border-style: solid;  padding:5px">Price: <span id="price_{{ job.id }}">{{ job.price|currency }}</span></div>
                                    <div style="padding:5px"><span>{{ job.job_notes }}</span></div>
                                    <div style="padding:5px"><span></span></div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button data_job="{{ job.id }}" style="margin-top:10px" class="compl_btn btn waves-effect waves-light {% css_colour user %}" type="button" value="Click" data_url='{% url "job_check_in" job.id %}'
                                    data_address='{{ job.customer }}' data_payment='paid' data_price='{{ job.price }}' data_date='{{ date.grouper|date:"c" }}'>Completed/Paid
                                </button>
                                <button data_job="{{ job.id }}" style="margin-top:10px" class="compl_btn btn waves-effect waves-light" type="button" value="Click" data_url='{% url "job_check_in" job.id %}'
                                    data_address='{{ job.customer }}' data_payment='owed' data_price='{{ job.price }}' data_date='{{ date.grouper|date:"c" }}'>Completed/Owed
                                </button>
                                <a class="job_details_btn btn-floating  waves-effect waves-light {% css_colour user %}  accent-4 right" data_url='{% url "job_details" job.id %}'>
                                    <i class="material-icons">more_horiz</i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Modal to confirm checkin -->
<div id="confirmation_modal" class="modal bottom-sheet">
    <div class="modal-content">
        <div id="modal_address">
            <h5>Address</h5>
        </div>
        <div id="modal_message"></div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="modal_btn" class="btn modal-action modal-close waves-effect waves-green">OK</a>
    </div>
</div>

<!-- Job Details Modal -->
<div id="job_details_modal" class="modal">
    <div class="modal-content" id="job_details_message">
    </div>
</div>


{% endblock %} {% block extra_js %}
<script src="{% static 'jobs.js' %}"></script>
{% endblock %}