{% extends "base.html" %}
{% block content %}
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header active teal darken-4 white-text">Sat 9 Sep '17
                <span class="new badge blue" data-badge-caption="">12 jobs / £235</span>
            </div>
            <div class="collapsible-body">
                <ul>
                    <li>
                        <div class="job_record">
                            <div class="row">
                                <h6>189 Ditchling Road BN1 6JB
                                </h6>
                            </div>
                            <div class="row">
                                <div class="col s4 m3"><span>Regular WC:</span><span>A TBA</span></div>
                                <div class="col s4 m3"><span>Price:</span><span>£12</span></div>
                                <div class="col s4 m3"><span>Method:</span><span>Trad</span></div>

                                <div class="col s4 m3"><span>Day 1:</span><span>Wed 26 AM ONLY</span></div>
                                <div class="col s4 m3"><span>Day 2:</span><span>Wed 27 Any</span></div>
                                <div class="col s4 m3"><span>Day 3:</span><span>Wed 28 X</span></div>
                                <div class="col s4 m3"><span>Drop owing slip:</span><span>Yes</span></div>
                                <a class="right btn-floating btn-small waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
                            </div>



                            <div class="divider"></div>
                        </div>
                    </li>
                    <li>
                        <div class="job_record">
                            <div class="row">
                                <h6>187 Ditchling Road BN1 6JB
                                </h6>
                            </div>
                            <div class="row">
                                <div class="col s4 m3"><span>Regular WC:</span><span>A TBA</span></div>
                                <div class="col s4 m3"><span>Price:</span><span>£12</span></div>
                                <div class="col s4 m3"><span>Method:</span><span>Trad</span></div>

                                <div class="col s4 m3"><span>Day 1:</span><span>Wed 26 AM ONLY</span></div>
                                <div class="col s4 m3"><span>Day 2:</span><span>Wed 27 Any</span></div>
                                <div class="col s4 m3"><span>Day 3:</span><span>Wed 28 X</span></div>
                                <div class="col s4 m3"><span>Drop owing slip:</span><span>Yes</span></div>
                                <a class="right btn-floating btn-small waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="divider"></div>
                        </div>
                    </li>
                    <li>
                        <div class="job_record">
                            <div class="row">
                                <h6>185 Ditchling Road BN1 6JB
                                </h6>
                            </div>
                            <div class="row">
                                <div class="col s4 m3"><span>Regular WC:</span><span>A TBA</span></div>
                                <div class="col s4 m3"><span>Price:</span><span>£12</span></div>
                                <div class="col s4 m3"><span>Method:</span><span>Trad</span></div>

                                <div class="col s4 m3"><span>Day 1:</span><span>Wed 26 AM ONLY</span></div>
                                <div class="col s4 m3"><span>Day 2:</span><span>Wed 27 Any</span></div>
                                <div class="col s4 m3"><span>Day 3:</span><span>Wed 28 X</span></div>
                                <div class="col s4 m3"><span>Drop owing slip:</span><span>Yes</span></div>
                                <a class="right btn-floating btn-small waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
                            </div>
                            <div class="divider"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="collapsible-header  teal darken-2 white-text">Mon 11 Sep '17
                <span class="new badge blue" data-badge-caption="">15 jobs / £330</span>
            </div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header  teal darken-2 white-text">Tue 12 Sep '17
                <span class="new badge blue" data-badge-caption="">10 jobs / £157</span>
            </div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

    <!-- SCRIPTS -->
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
        $(".button-collapse").sideNav();
    </script>
{% endblock %}
