{% load staticfiles %}
{% load user_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}" type="text/css" />
    {% block extra_head %}{% endblock %}
    <!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="shortcut icon" href="">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <nav>
        <div class="nav-wrapper  teal darken-2">
            <a href="#!" class="brand-logo hide-on-med-and-down">My Window Cleaner</a>
            <a href="#!" class="brand-logo hide-on-large-only">MWC</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            {% if user.is_authenticated %}
            <ul class="right hide-on-med-and-down"> 
                {% if user.is_authenticated %}
                <li>Logged in as {{ user.get_full_name|default:user.username }}</li>
                {% endif %}     
                {% if request.user|has_group:"window_cleaner"%}             
                <li><a href="/worksheets">Worksheets</a></li>
                <li><a href="/expenses">Expenses</a></li>
                <li><a href="/invocies">Invoices</a></li>
                {% endif %}
                {% if not request.user|has_group:"window_cleaner"%}
                <li><a href="/customers">Customers</a></li>  
                {% endif %}              
                <li><a href="/logout">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo"> 
                {% if user.is_authenticated %}
                <li>Logged in as {{ user.get_full_name|default:user.username }}</li>
                {% endif %}    
                {% if request.user|has_group:"window_cleaner"%}                     
                <li><a href="/worksheets">Worksheets</a></li>
                <li><a href="/expenses">Expenses</a></li>
                <li><a href="/invoices">Invoices</a></li>
                {% endif %}
                {% if not request.user|has_group:"window_cleaner"%}
                <li><a href="/customers">Customers</a></li>
                {% endif %}
                   
                <li><a href="/logout">Logout</a></li>                              
            </ul>
            
        </div>
    </nav>   
    
    
    {% endif %} 
    
    {% block content %}
    {% endblock %}

<script src="{% static 'jquery/jquery-3.2.1.js' %}"></script>
<script src="{% static 'materialize/js/materialize.js' %}"></script> 

<script>
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
        $('select').material_select();  //for Materialize drop down on forms 
    })
</script>
{% block extra_js %}{% endblock %}
</body>

</html>